body{
    background-color: rgb(39 39 42);
    margin :0;
    padding: 0;
}
/* main{
    cursor : none;
} */
a{
    color: rgb(255,110,0,1);
}
.TextDefault{
    color : white
}
.BasicButton{
    /* background: linear-gradient(84deg, rgba(255,189,0,1) 0%, rgba(255,110,0,1) 100%); */

	border-radius:28px;
    border-style: none;
	font-family:Arial;
    color: white;
	font-size:17px;
	padding:5px 20px;
	text-decoration:none;
    box-shadow: 0px 0px 5px 5px rgba(24, 24, 24, 0.20);
    margin: 10px;
	
}
.BasicButton{
    background: linear-gradient(90deg, rgba(255,189,0,1), rgba(255,110,0,1));
    background-size: 400% 400%;
    -webkit-animation: nanim 8s ease infinite;
    -moz-animation: anim 8s ease infinite;
    animation: anim 8s ease infinite;
}
@-webkit-keyframes anim {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}
@-moz-keyframes anim {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}
@keyframes anim {
    0%{background-position:0% 46%}
    50%{background-position:100% 55%}
    100%{background-position:0% 46%}
}
.BasicButton:hover {
	background-color:rgb(234, 159, 19);

}
.BasicButton:active {
	position:relative;
	top:1px;
}
#logOutContent{
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-top : 30px;
    color : white;
}
#logOutText{
    font-size : 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#deconnexion{
    border-radius: 28px;
    border-style: none;
    background: radial-gradient(circle, rgba(255,74,0,1) 0%, rgba(255,0,0,1) 100%);
    font-size:17px;
	padding:10px 20px;
	text-decoration:none;
    box-shadow: 0px 0px 5px 5px rgba(24, 24, 24, 0.20);
    margin: 10px;
    color : white;
}
#resterConnecter{
    border-radius: 28px;
    border-style: none;
    background: radial-gradient(circle, rgba(0,193,11,1) 0%, rgba(0,138,8,1) 100%);
    font-size:17px;
	padding:10px 20px;
	text-decoration:none;
    box-shadow: 0px 0px 5px 5px rgba(24, 24, 24, 0.20);
    margin: 10px;
    color : white;
}
#deconnexion:hover{
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.212);
}
#resterConnecter:hover{
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.2);
}

