.authscreen{
    height : 100%;
    color : white;
    display : flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    align-items: center;
}

.capsform{
    border-radius:10px;
    padding-bottom: 20px;
    width : 400px;
    background-color: rgb(84, 84, 84);
    box-shadow: 0px 0px 7px 7px rgba(24, 24, 24, 0.50);
    text-align: center;
}
h1{
    font-family :Arial, Helvetica, sans-serif;
    font-weight: bold;
    color : white;
}
.titleform{
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
    height : 60px;
    padding-top : 10px;
    margin-bottom : 50px;
}

.fieldForm{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px;
    /* background-color: #202327; */
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;  
}
@keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  

input{
    background-color : rgba(24, 24, 24, 0);
    border : solid rgba(255, 255, 255, 0.119);

    border-top: none;
    border-right : none;
    /* border-left: none; */

    color : white;
    padding: 12px 10px;
    height : 40px;
    width : 350px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /* box-shadow: 0px 0px 7px 7px rgba(24, 24, 24, 0.50); */

}
input::placeholder{
    color :rgba(255, 255, 255, 0.549);
}
input:focus{
    outline: none;
    border : solid rgb(rgba(255, 255, 255, 0.355));
}

.buttonform{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left : auto;
    margin-right : auto;
    width : 350px;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; 
}

.submit{
    background-color: rgb(196, 159, 84);
    border-radius : 5px;
    border : none;
    color : white;
    width : 100px;
    height : 40px;
}

.submit:hover{
    background-color : rgb(235, 179, 76);
}

.submit:active{
    background-color: rgb(104, 87, 50);
}

.btnValid{
    border : rgb(212, 172, 91) solid 1px;
    color : white;
    background-color: rgb(104, 87, 50);
    border-radius: 4px;
    width : 200px;
    height : 120px;
    font-size: 30px;
    -webkit-box-shadow: 0px 0px 14px 5px #000000; 
    box-shadow: 0px 0px 14px 5px #000000;
}

.textvalidscreen{
    margin-bottom: 10px;
    font-size: 30px;
}