@charset "UTF-8";

@font-face {
  font-family: "musicfont";
  src:url("fonts/musicfont.eot");
  src:url("fonts/musicfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/musicfont.woff") format("woff"),
    url("fonts/musicfont.ttf") format("truetype"),
    url("fonts/musicfont.svg#musicfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "musicfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "musicfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stop:before {
  content: "\66";
}
.icon-fast-backward:before {
  content: "\62";
}
.icon-pause:before {
  content: "\63";
}
.icon-fast-forward:before {
  content: "\64";
}
.icon-play:before {
  content: "\65";
}
.icon-shuffle:before {
  content: "\67";
}
.icon-to-end:before {
  content: "\68";
}
.icon-to-start:before {
  content: "\69";
}
.icon-undo:before {
  content: "\6a";
}
.icon-repeat:before {
  content: "\6b";
}
.icon-heart-o:before {
  content: "\61";
}
.icon-heart:before {
  content: "\6c";
}
.icon-sort-amount-asc:before {
  content: "\6d";
}
.icon-sort-alpha-asc:before {
  content: "\6e";
}
.icon-sort-alpha-desc:before {
  content: "\6f";
}
.icon-sort-amount-desc:before {
  content: "\70";
}
.icon-thumbs-up:before {
  content: "\71";
}
.icon-thumbs-o-up:before {
  content: "\72";
}
.icon-user:before {
  content: "\73";
}
.icon-trash:before {
  content: "\74";
}
.icon-trash-o:before {
  content: "\75";
}
.icon-note-beamed:before {
  content: "\76";
}
.icon-plus:before {
  content: "\77";
}
.icon-search:before {
  content: "\78";
}
.icon-mute:before {
  content: "\79";
}
.icon-playback-fast-forward:before {
  content: "\7a";
}
.icon-playback-pause:before {
  content: "\41";
}
.icon-playback-play:before {
  content: "\42";
}
.icon-playback-rewind:before {
  content: "\43";
}
.icon-jump-left:before {
  content: "\44";
}
.icon-jump-right:before {
  content: "\45";
}
.icon-primitive-square:before {
  content: "\46";
}
.icon-git-compare:before {
  content: "\47";
}
.icon-mail-reply:before {
  content: "\48";
}
.icon-pulse:before {
  content: "\49";
}
.icon-home:before {
  content: "\4a";
}
.icon-cloud-upload:before {
  content: "\4b";
}
.icon-cloud-download:before {
  content: "\4c";
}
.icon-sign-out:before {
  content: "\4d";
}
